
*{
    margin: 30px;
}
.Brand{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;  
}
.head-title{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}
.top-title{
    text-align: center;
    width: 862px;
    height: 225px;
}
.header-title{

}
.top-title img{
    width: 1440px;
    height: 700px;
}
.features{
    display: flex;
}
.half-width{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.featuress{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.feature{
    display: grid;
}