@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,500;1,400&family=Work+Sans&display=swap');
*{
    margin: 30px;
}
.Brand{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;  
}
.head-title{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}
.top-title{
    text-align: center;
    width: 862px;
    height: 225px;
}
.button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
}
.more{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;

}

.top-title img{
    width: 1440px;
    height: 700px;
}
.features{
    display: flex;
}
.feature{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-2{
    width: 586px;
    height: 984.78px;
}
.architect-img{
    width: 800px;
    height: 1059px;
}
.icon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.down{
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
}
.copyright{
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}